:root {
/* цвет заголовков - color: #212121; */
--title-color: #212121;
/* цвет параграфов - color: #757575; */
--text-color: #757575;
/* акцент - color: #2196F3; */
--accent: #2196F3;
/* цвет текста контактных данных в футере - color: rgba(255, 255, 255, 0.6); */
--other-text-color: rgba(255, 255, 255, 0.6);; 
/* цвет фона - #2F303A */
--background-color: #2F303A;
/* вторичный цвет фона #F5F4FA */
--other-background-color: #F5F4FA;

--hero-beckground: #C4C4C4;
/* Цвет иконок */
--icon-color: #AFB1B8;
/* Цвет иконок в футкре */
--grey-almost-not-transparent: rgba(255, 255, 255, 0.1);
/* Переходы */
--cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
--duration: 250ms;

}

/* белый - color: #FFFFFF; */
/* черный - color: #000000; */

/* ul {list-style: none;}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

body {
    background-color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, ul, p {
    margin: 0px;
    padding: 0px;
} */

/* Header */
/* .container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
} */

/* .header, */
/* .contacts,
.navigation,
.pages {
    display: flex;
    align-items: center;
} */

/* .hat {
    border-bottom: 1px solid #ECECEC;
} */

/* .navigation-logo, .logo-studio {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo-web {
    color: var(--accent);
    
    padding: 24px 0px 25px 0px;
    margin-right: 93px;
}

.logo-studio {color: #000000;} */

/* .pages {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 32px 0px; */ 
    /* width: 294px; */
    /* justify-content: space-between; */
/* }  */

/* .nav-link {
    margin-right: 50px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color var(--duration) var(--cubic-bezier);
} */

/* .nav-link:hover,
.nav-link:focus {
    color: var(--accent);
    transition: color var(--duration) var(--cubic-bezier);
} */

/* .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border: 1px solid var(--accent);
    border-radius: 2px;
    background-color: var(--accent);
    
    transform: scaleX(0);
    transition: transform var(--duration) var(--cubic-bezier);
}

.nav-link:hover::after,
.nav-link:focus::after{
    transform: scaleX(1);
    transition: transform var(--duration) var(--cubic-bezier);
} */

/* .current {
    color: var(--accent);
} */

/* .contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
} */

/* .mail,
.tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--duration) var(--cubic-bezier);

    display: flex;
    align-items: center;
    
} */

/* .mail {
    margin-right: 30px;
} */

/* .mail-icon,
.mail-icon,
.tel-icon,
.tel-icon {
    fill: currentColor;
    
    display: flex;
    margin-right: 10px;
} */

/* .mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
    color: var(--accent);
    transition: color var(--duration) var(--cubic-bezier);
} */

/* .mail-icon:hover,
.mail-icon:focus,
.tel-icon:hover,
.tel-icon:focus {
    color: var(--accent);
    transition: color var(--duration) var(--cubic-bezier);
} */

/* Герой */
/* .hero {
    background-image: linear-gradient(to right,
     rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)),
     url(../images/main/hero.jpg);
    background-color: var(--hero-beckground);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;    
} */

/* .container-hero{
    margin: 0px auto;
    padding: 200px 15px;
    text-align: center;
} */

/* .hero-title {
    text-decoration: none;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    max-width: 696px;
    margin: 0px auto 30px;
} */

/* .hero-button {
    color: #FFFFFF;
    background-color: var(--accent);
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;

    border: 0px;
    border-radius: 4px;
    padding: 10px 32px;
} */

/* Преимущества */
/* .section-advantages {
    padding-top: 94px;
} */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */

/* .card-advantages {
    display: flex;
    justify-content:space-between;
    margin: 0px;
    padding: 0px;
} */

/* .card-advantages-item {
    width: 270px;    
} */

/* .card-advantages-item:not(:last-child) {
    margin-right: 30px;
} */

/* .advantages-img {
    background: var(--other-background-color);
    border-radius: 4px;
    height: 120px;
    width: 270px;
    padding: 25px 100px;
    margin-bottom: 30px;
} */

/* .advantages {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);

    margin-bottom: 10px;
} */

/* .advantages-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);    
} */

/* секции Чем мы занимаемся*/

/* .section-case {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-case-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    margin-bottom: 50px;
} */

/* .cards-case {
    display: flex;
    justify-content:space-between;
} */

/* .card-img:not(:last-child) {
    margin-right: 30px;
    position: relative;   
} */

/* .card-img .thumb {
    position: relative;
} */
/* height: 294px; высоту фиксированую лучше не использовать, а применять формулы */

/* .card-img img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;    
} */

/* .inscription {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 27px 0;
} */

/* секция Команда */
/* .section-team {background: var(--other-background-color);}

.section-team .container {
    padding-top: 94px;
    padding-bottom: 94px;
} */

/* .section-team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    margin-bottom: 50px;
} */

/* .cards-team {
    --set-gap: 30px;

    display: flex;
    flex-wrap: wrap;
    
    margin: 0px;
    margin-left: -30px;
    margin-top: calc(-1 * var(--set-gap));
}

.card {
    flex-basis: calc(100%/ 4 - var(--set-gap));
    margin-left: var(--set-gap);
    margin-top: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
} */

/* .card img {
    object-fit: cover;
} */

/* .personal-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--title-color);
    text-align: center;
    
    margin-bottom: 10px;
} */

/* .post {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-align: center;

    margin-bottom: 16px;
} */

/* .social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
} */

/* .social-icons li:not(:last-child) {
    margin-right: 10px;
} */

/* .social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%; 

    fill: var(--icon-color);
    background-color: #ffffff;
    transition: background-color var(--duration) var(--cubic-bezier), fill var(--duration) var(--cubic-bezier);
} */

/* .social-icons-link:hover,
.social-icons-link:focus {
    background-color: var(--accent);
    fill: #FFFFFF;
    transition: background-color var(--duration) var(--cubic-bezier), fill var(--duration) var(--cubic-bezier);
} */

/* .team-info {
    padding: 30px 32px;
} */

/*Постоянные клиенты*/

/* .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
} */

/* .section-clients-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    margin-bottom: 50px;
} */

/* .clients {
    --set-gap: 30px;

    display: flex;
    flex-wrap: wrap;
    
    margin-left: calc(-1*var(--set-gap)); 
    margin-top: calc(-1*var(--set-gap));   
} */

/* .clients-item {
    flex-basis: calc(100%/6 - var(--set-gap));
    margin-left: var(--set-gap);
    margin-top: 30px;    
} */

/* .clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: color var(--duration) var(--cubic-bezier), border var(--duration) var(--cubic-bezier);
} */

/* .clients-link:hover,
.clients-link:focus {
    color: var(--accent);
    border: 1px solid var(--accent);
    transition: color var(--duration) var(--cubic-bezier), border var(--duration) var(--cubic-bezier);
} */

/* .clients-icon {
    fill: currentColor;
} */


/* Футер */
/* footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
} */

/* .logo-web-f {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent);
    
    display: block;
    margin-bottom: 20px;    
} */

/* .logo-studio-f {color: #FFFFFF;} */

/* .address-f,
.mail-f,
.tel-f {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
} */

/* .address-f {
    display: block;
    margin-bottom: 9px;

    color: #FFFFFF;
    
} */

/* .mail-f,
.tel-f {
    color:rgba(255, 255, 255, 0.6);

    display: block;
} */

/* .mail-f {
    margin-bottom: 9px;
}

.invitation,
.footer {
    display: flex;
    align-items: baseline;
}

.invitation{
    flex-direction: column;
    margin-left: 70px;    
}
 
.invitation-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 20px;
}
.social-icons-f {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.social-icons-f li:not(:last-child) {
    margin-right: 10px;
}

.social-icons-link-f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;    
    border-radius: 50%;

    fill: #FFFFFF;
    background: var(--grey-almost-not-transparent);
    transition: background-color var(--duration) var(--cubic-bezier);

}

.social-icons-link-f:hover,
.social-icons-link-f:focus {
    background-color: var(--accent);
}

.subscription {
    margin-left: auto;    
}

.subscription input {
    width: 358px;
    height: 50px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.6);
    background: var(--background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    margin-right: 12px;
    padding: 15px 16px;
}

.subscription button {
    width: 200px;
    height: 50px;
    background-color: var(--accent);
    border-radius: 4px;
    border: 0px;
    
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;     
    color: #FFFFFF;    
}

.icon-send {    
    fill: currentColor;
}

.subscription div {
    display: flex;
    align-items: center;
}

.subscribe-btn {
    justify-content: center;
}

.subscribe-btn>span {
    margin-right: 10px;
} */

/* Портфолио */
/* .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 50px;
}

.filter__item {
    margin-right: 8px;

    &:last-child {

    }
} */

/* .portfolio-btn {
    background: var(--other-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);

    border: 0px;
    padding: 6px 22px;
    border-radius: 4px;
    transition: background-color var(--duration) var(--cubic-bezier), color var(--duration) var(--cubic-bezier), box-shadow var(--duration) var(--cubic-bezier);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent);
    color:#FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .portfolio-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-color);
    
    margin: 0px;
}
.portfolio-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    
    margin-top: 4px;
} */

/* .portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: -30px;
    margin-left: -30px;
    list-style: none;
    
}
.portfolio-cards >.portfolio-card-set {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    transition: box-shadow var(--duration) var(--cubic-bezier);    
} */

/* .card-content {
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
} */

/* .portfolio-card-set .thumb {
    height: 294px;
    высоту фиксированую лучше не задавать
} */

/* .portfolio-card-set img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
} */

/* .portfolio-card-set:hover,
.portfolio-card-set:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06);
    transition: box-shadow var(--duration) var(--cubic-bezier);    
} */

/* .portfolio-card-set>.thumb {
    position: relative;
    overflow: hidden;
} */

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    transform: translateY(100%);
    transition: transform var(--duration) var(--cubic-bezier);

    background-color: rgba(33, 150, 243, 0.9);;
    color: #ffffff;
    padding: 63px 24px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
} */

/* .portfolio-card-set:hover .overlay {
    transform: translateY(0);    
} */

/* Модальное окно */
/* .backdrop-order {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    opacity: 1;
    transition: opacity var(--duration) var(--cubic-bezier);
}

.backdrop-order.is-hidden {
    opacity: 0;
    pointer-events: none;
    
} */

/* .backdrop-order.is-hidden .modal-order {
    transform: translate(-50%, -50%) scale(1.2);
} */

/* .modal-order {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--duration) var(--cubic-bezier);
    
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 40px;
} */

/* .close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    padding: 6px; 
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    transition: fill var(--duration) var(--cubic-bezier);
} */

/* .close-button:hover,
.close-button:focus,
.close-button:active {
    fill: var(--accent);
} */

/* .signup-form
.label {
    display: flex;
    flex-direction: column;

    font-family: Roboto;
    font-size: 12px;
    line-height: 14.06px;
    letter-spacing: 0.01em;
    color: getColor('primary');
    color: red;
    margin-bottom: 10px;
} */

/* .signup-form__title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('title-color');
    margin-bottom: 12px;
} */


/* 
.label span {
    margin-bottom: 4px;
}

.data-input {
    position: relative;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px;
    padding-left: 42px;

    transition: border var(--duration) var(--cubic-bezier);
}

.label:hover .data-input,
.label:focus .data-input,
.label:focus-within .data-input {
    border: 1px solid var(--accent);
    outline: none;
}



.data-label {
    position: relative;
}

.signup-form-icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    
    transition: fill var(--duration) var(--cubic-bezier);

}

.label:hover .signup-form-icons,
.label:focus .signup-form-icons,
.label:focus-within .signup-form-icons {
    fill: var(--accent);
}

.label textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px;
    overflow : auto;
    resize : none;

    padding: 12px 16px;
    transition: border var(--duration) var(--cubic-bezier);
}
.label textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    /* color: rgba(117, 117, 117, 0.5); Firefox
} */
/* 
.label textarea:hover,
.label textarea:focus,
.label textarea:focus-within {
    border: 1px solid var(--accent);
    outline: none;
}

.checkbox-conditions {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-conditions > span {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    
}

.checkbox-conditions > span > a {
    color: var(--accent)
}

.icon {
    fill: #ffffff;
    border: 2px solid var(--title-color);  
    border-radius: 2px;
    margin-right: 7px;    

}

.checkbox:checked + .icon {
    fill: var(--accent);
    border: none;    
    transition: fill var(--duration) var(--cubic-bezier);
}

.send-button {
    display: block;
    margin: 0px auto;
    height: 50px;
    width: 200px;
    background-color: var(--accent);
    border: 1px solid var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #ffffff;

    transition: border var(--duration) var(--cubic-bezier), background-color var(--duration) var(--cubic-bezier);
}

.send-button:hover ,
.send-button:focus {
    background-color: #188CE8;
    border: 1px solid  #188CE8;
}  */